Flask==3.1.2
Flask-Bcrypt==1.0.1
Flask-Login==0.6.3
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.2
email-validator==2.3.0
gunicorn==25.1.0
psycopg2-binary==2.9.11
python-dotenv==1.2.2
SQLAlchemy==2.0.44
Werkzeug==3.1.4
WTForms==3.2.1